#globalWrapper {
  display: flex;
  justify-content: center;
}

#gameWrapper {
  display: flex;
  flex-direction: column;
}

#boutContainerP2 {
  float: right;
}

.boutContainer {
  background: green;
  display: inline;
}

.boutScore {
  height: 100px;
  width: 100px;
  background: yellow;
}

.cardContainer {
  height: 200px;
  width: 800px;
  background: purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  color: white;
  height: 160px;
  width: 140px;
  background: blue;
  text-align: center;
}

.name {
  font-size: 20px;
}

.image {

}

.rating {
  font-size: 20px;
}

header {
  font-size: 40px;
}
